* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #D92B04;
    text-align: center;
    font-size: 2rem;
}

body {
    background-color: #faf5ea
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.admin-box {
    padding: 0 3rem;
    border-radius: 10%;
}
nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: arial;
    background-image: linear-gradient(to right top, #da6c0b, #e38030, #eb944d, #f2a869, #f9bb86);
    line-height: 2.5rem;
    padding: 0 2rem;
    font-family: 'Oswald', sans-serif;
}

nav a {
    text-decoration: none;
    color: #1C1E27;
}

nav a:hover {
    color: #1C6C8C
}

.control-section {
    justify-content: flex-start;
}

.control-section button, .input-box {
    font-size: 1.1rem;
    margin-right: 1rem;
    border: 2px solid #fdad9b;
    background-color: white;
    border-radius: 22px;
    padding: 2px 20px;
    color: grey;
    font-family: 'Oswald', sans-serif;
}

.control-section button:hover, .input-box:hover {
    background-color: #f5933d;
    border: 2px solid #fb6f50 ;
}

.control-section button:active, .input-box:hover {
    background-color: #da6c0b;
    border: 2px solid #fa3205;
    color: black;
}

.category:hover, .difficulty:hover, .date-input:hover, submit-difficulty:hover {
    background-color: white;
}

.category:active, .difficulty:active, .date-input:active, submit-difficulty:active {
    background-color: white;
}


.control-section select {
    font-size: 1.1rem;
    margin-right: 1rem;
}


.source-buttons {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

.question-input {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Oswald', sans-serif;
}

.question-input input, .login-box {
    line-height: 2;
    margin-top: 1rem;
    font-family: arial;
    padding-left: 1rem;
    border-radius: 22px;
    font-size: 1.1rem;
    border: 1px solid #F2B90F;
    font-family: 'Oswald', sans-serif;
}

.question-input input::placeholder, .login-box::placeholder {
    color: #f6ce55;
}

#question {
    line-height: 3;
}


.hide {
    display: none;
}

.selected-options {
    margin-top: 0.7rem;
    display: flex;
    justify-content: flex-start;
    font-family: 'Oswald', sans-serif;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-family: 'Oswald', sans-serif;

}

.submit-button input{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
}

.login-info {
    margin-top: 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

p {
    padding: 0;
    margin: 0
}

.remember-me {
    margin: 1rem 140px 1rem 0;
}

.remember-text {
    font-family: 'Oswald', sans-serif;
    color: #2aa5d5;
}

.remember-box {
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 5%;
    border: 2px solid #fdad9b;

}