<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
        <nav>
            <div> <a href="{{ url_for('index') }}">Home</a></div>
            {% if current_user.is_anonymous %}
            <div>Login</div>
            {% else %}
            <div class="settings"><a href="{{ url_for('logout') }}">Logout</a></div>
            <div> {{ current_user.username }} </div>
            {% endif %}
        </nav>
        <div class="wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block body %}
    {% endblock body %}
    </div>
</body>
</html>