{% extends 'base.html' %}
{% block body %}
<div class="admin-box">
    <h1>Add Trivia Questions</h1>
    <div class="control-section">
        <button class="show-api">From API</button>
        <form class="hide get-api" action="{{ url_for('index') }}" method="post">
            <input type="hidden" id="action" name="action" value="get_question_api">
            <select class="category" name="category">
            </select>
            <select class="difficulty" name="difficulty">
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
            </select>
            <input type="hidden" id="option" name="option" value="get_api">
            <input type="submit" value="Get Question">
        </form>
    </div>
    <form action="{{ url_for('index') }}" method="post">
        <input type="hidden" id="action" name="action" value="post_question">
        <div class="question-input">
            <input class="question" type="text" name="question" placeholder="Trivia Question">
            <input class="correct_answer" type="text" name="correct_answer" placeholder="Correct Answer">
            <input class="incorrect_answer_1" type="text" name="incorrect_answer_1" placeholder="Incorrect Answer">
            <input class="incorrect_answer_2" type="text" name="incorrect_answer_2" placeholder="Incorrect Answer">
            <input class="incorrect_answer_3" type="text" name="incorrect_answer_3" placeholder="Incorrect Answer">
        </div>
        <div class="select-difficulty">
            <select class="difficulty" name="difficulty">
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
            </select>
        </div>
        <div class="select-category">
            <select class="category" name="category">
                <option value="general_knowledge">general_knowledge</option>
                <option value="geography">geography</option>
                <option value="history">history</option>
            </select>
        </div>
        <div class="datetime">
            <input class="date-input" type="date", name="date" />
        </div>
        <div class="submit-button">
            <input type="submit" value="Add Question">
        </div>
    </form>
</div>
{% if data is defined %}
    <script >
        const questionData = {{ data|tojson }}
    </script>
{% endif %}
<script src = "{{ url_for('static', filename='script/main.js') }}"></script>

{% endblock body %}