{% extends 'base.html' %}
{% block body %}
<div class="admin-box">
    <h1>Add Trivia Questions</h1>
    <div class="control-section">
        <button class="show-api">From API</button>
        <form class="hide get-api" action="{{ url_for('index') }}" method="post">
            <input type="hidden" id="action" name="action" value="get_question">
            <select name="category" id="category">
                <option value="general">General</option>
                <option value="Geography">Geography</option>
            </select>
            <input type="hidden" id="option" name="option" value="get_api">
            <input type="submit" value="Get Question">
        </form>
    </div>
    <form action="{{ url_for('index') }}" method="post">
        <input type="hidden" id="action" name="action" value="post_question">
        <div class="question-input">
            <input type="text" name="question" placeholder="Trivia Question">
            <input type="text" name="correct_answer" placeholder="Correct Answer">
            <input type="text" name="incorrect_answer_1" placeholder="Incorrect Answer">
            <input type="text" name="incorrect_answer_2" placeholder="Incorrect Answer">
            <input type="text" name="incorrect_answer_3" placeholder="Incorrect Answer">
        </div>
        <div class="submit-button">
            <input type="button" value="Add Question">
        </div>
    </form>
</div>
<script src = "{{ url_for('static', filename='script/main.js') }}"></script>

{% endblock body %}