{% extends "base.html" %}

{% block body %}
    <h1>Trivia Questions Admin</h1>
    <form action="" method="post" novalidate>
        <div class="login-info">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username(size=32, class_="login-box", placeholder="Username") }} <br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password(size=32, class_="login-box", placeholder="Password") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="remember-me">{{ form.remember_me(class_="remember-box") }} {{ form.remember_me.label(class_="remember-text") }}</p>
            <p>{{ form.submit(class_="input-box") }}</p>
        </div>
    </form>
{% endblock %}